<details>
  <summary><strong>Computational Category Theory</strong></summary>

<br>
I am interested in Computational Category Theory for both applied and theoretical reasons.<br><br>

On the applied side, being able to compute answers to categorical questions algorithmically seems fundamental to making Category Theory more applicable in the sciences.
<!-- both by allowing scientists and engineers to use categorical abstractions in their own modelling and by enabling software which does not require them to know Category Theory in order to benefit from it. -->
<a href="https://categoricaldata.net/">Categorical database theory</a> is an excellent example of application where it is crucial—if the idea is to make any sense at all—to not only develop a mathematical theory at a semantic level but also explicitly develop its syntactic and algorithmic counterpart.<br><br>

On the theoretical side, I am interested in how syntax <em>refines</em> semantics, in the sense that new phenomena arise when we become more strict with our notions of mathematical equivalence.
For instance, once we have focused on syntactic descriptions we can narrow the scope even further to the <em>finite</em> ones and analyze the classes of <em>finitely presentable</em> objects that arise.<br><br>

In my work, an interesting example of this phenomenon came up when trying to understand the syntactic representations for <a href="https://ncatlab.org/nlab/show/profunctor">profunctors</a>, which is an important point for categorical database theory. In particular, the fundamental equivalence between functors $\mathcal{C}^\text{op} \times \mathcal{D} \to \sf{Set}$<span></span> and functors $\mathcal{C}^\text{op} \to \sf{Set}^\mathcal{D}$<span></span> does not carry over to the world of finite syntactic descriptions. This is the main observation that led to the paper <a href="https://arxiv.org/abs/2404.01406">Presenting Profunctors</a>.
<br><br>

</details>

<details>
  <summary><strong>Applications of Category Theory to Finite Model Theory and Databases</strong></summary>
<br>
Categorical logic can be understood as the perspective that <em>logics</em>, understood as inductively defined syntax for well-formed formulas and well-formed proofs, constitute syntactic presentations for categorical structures in a similar sense as the one described above.<br><br>

Although the field has a long history and a deep connection with type theory and the theory of programming languages, traditionally it has been disconnected from other areas of logic more connected with combinatorics and computational complexity, as is the case of finite model theory and the theory of databases.<br><br>

An intersection between these two traditions, <em>Structure</em> and <em>Power</em>, has begun to take form owing greatly to the research program of <em>game comonads</em>. Currently, I am particularly interested in using this framework to understand what kinds of logics are possible near the lower end of the expressive power spectrum as exemplified by Basic Modal Logic. In this context <a href="https://arxiv.org/abs/2307.09679">I have worked</a> on a variation of Basic Modal Logic with (non-unary) relations instead of propositional variables and developed its fundamental model theory using the framework of game comonads and arboreal categories.<br><br>

In the past I have studied a bit of coalgebraic modal logic and I would be interested in exploring the connection with this topic as well.
<br><br>
</details>

<details><summary><strong>Emergence</strong></summary>
<br>
I am interested in developing a rigorous understanding of the concept of emergence. Currently, I am trying to understand the relationship between emergence and failure of the glueing axiom as formalized by sheaf theory. Computationally, this can be seen as local consistency of data that fails to imply global consistency, as it happens in topics such as dynamic programming, constraint satisfaction and data integration.<br><br>

I am also interested in emergence from the perspective of information loss through coarse-graining. This perspective partly contributes to my interest in logical indistinguishability of models as a form of logical or language-based coarse-graining.<br><br>

Finally, going back to my Physics training, I also have a perennial interest in dynamical systems and the coarse-graining of dynamics, as exemplified by center manifolds and Crutchfield et al.'s fascinating predictive states/computational mechanics framework. Although these topics are not part of my current research, I intend to reconnect with them eventually.<br><br>

</details>

<br>